body{
    background-color: #f7fafd;
 
}

h1{
    color: #2711f1;
}

h3{
    color: #2711f1;
}


i{
    color: #00ff2a;
}
#botton{
    color: aliceblue;
    background-color: blue;
}
p{
    color: #65c05d;
}
.color{
    color: #31e4eb;
} 
button{
    background-color: #71d168;

}  
#ripon{
    background-color: rgb(193, 196, 32);
}
h2{
    background: #31e4eb;

    color:#2610f1;
}
h6{
    color: #ffff00;
}